@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.panel-view {
    @apply flex flex-row gap-3 p-8 w-screen max-h-screen h-screen bg-repeat overflow-hidden
}

.left-panel {   
    @apply basis-1/5 flex flex-col gap-3
}

.right-panel {
    @apply basis-5/6 bg-slate-50 rounded max-h-full flex overflow-auto p-1
}

.heightmap {
    @apply grid grid-flow-row bg-slate-800 max-w-full max-h-full mx-auto
}

.heightmap-row {
    @apply grid grid-flow-col max-w-min mx-auto
}

.heightmap-cell {
    font-size: 10px;
    @apply min-w-min min-h-min aspect-square 
}

.heightmap-text {
    @apply aspect-square size-full
}

.data-table {
    @apply overflow-y-scroll bg-slate-50 rounded no-scrollbar m-auto flex-grow
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
    @apply opacity-100
}

.data-input {
    @apply ps-2 bg-slate-50 border-2 border-slate-300 
}

.control-panel {
    @apply flex flex-row gap-1.5 bg-slate-50 rounded p-1.5 m-auto
}

.control-button {
    @apply bg-slate-800 rounded-sm p-1.5 aspect-square tooltip
}

.data-table table {
    @apply w-full
}

.data-table tr {
    @apply border 
}

.data-table th, .data-table td {
    @apply px-2 py-1 tooltip
}

.tooltip {
    @apply relative
}

.tooltip .tooltiptext {
    @apply bg-slate-200 absolute bottom-full z-10 w-max px-2 py-1 invisible rounded-sm border-2 border-slate-700
}

.tooltip:hover .tooltiptext {
    @apply visible
}