@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.panel-view {
    @apply flex flex-row gap-3 p-8 w-screen max-h-screen h-screen bg-repeat
}

.left-panel {   
    @apply basis-1/5 flex flex-col
}

.right-panel {
    @apply basis-4/5 bg-slate-50 rounded max-h-full max-w-full flex
}

.heightmap {
    @apply grid grid-flow-row bg-slate-800 max-w-full max-h-screen mx-auto
}

.heightmap-bandaid {
    @apply flex-grow m-auto 
}

.heightmap-row {
    @apply grid grid-flow-col max-w-full
}

.heightmap-cell {
    @apply aspect-square max-w-min max-h-min
}

.heightmap-text {
    @apply w-full h-full max-w-min max-h-min aspect-square 
}

.data-table {
    @apply basis-10/12 overflow-y-scroll bg-slate-50 rounded no-scrollbar m-auto
}

.control-panel {
    @apply basis-1/12 flex flex-row gap-1.5 bg-slate-50 rounded p-1.5
}

.control-button {
    @apply basis-1/5 bg-slate-800 rounded-sm p-1.5
}

.data-table table {
    @apply w-full
}

.data-table tr {
    @apply border 
}

.data-table th, .data-table td {
    @apply px-2 py-1 
}